.contentBox {
    margin-bottom: 24px;
    background-color: #EEE;
    padding: 6px;
    border: 1px solid #CCC;
}

.main_left {
    display: block;
    float: left;
    width: 550px;
}

.main_left_w {
    width: 450px;
}

.b_mt {
    margin-top: 30px;
}

.imp {
    margin-top: 30px;
}

.mb {
    margin-bottom: 30px;
}

.mt {
    margin-top: 100px;
}

.main_right {
    display: block;
    float: right;
    width: 300px;
}

.main_right_w {
    width: 400px;
}


.pr_hd_bar_ul {
    margin-top: 8px;
}

.pr_hd_bar_ul_li {
    background: #DDD;
    margin-right: 6px;
}

.pr_hd_bar_ul_li_a {
    margin-right: 6px;
    text-align: center;
}

.pr_hd_bar_a {
    text-align: center;
    padding: 8px;
    margin-bottom: 12px;
    background: #DDD;
}

.img_preview {
    max-width: 300px;
}

.publish_btn {
    margin: 5px 0;
}